---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

// accent color (nr. 400) of the of the app's custom color palette:
$primary-color: #0093ac;
$link-color: #0093ac;

// primary color (nr. 100) of the app's custom color palette:
$info-color: #a4d7e1; // used in .btn--info 


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
