---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

// accent color (nr. 400) of the of the app's custom color palette:
$primary-color: #0093ac;
$link-color: #0093ac;

// primary color (nr. 100) of the app's custom color palette:
$info-color: #a4d7e1; // used in .btn--info 


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local("MaterialIcons-Regular"),url("../font/MaterialIconsOutlined-Regular.otf");
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
  }
  